<% if commentable.comments.any? %>
  <%= render 'spree/admin/shared/comment_list', commentable: commentable %>
<% else %>
  <div class="col-12 no-objects-found">
    <%= I18n.t('spree.no_resource_found', resource: I18n.t(:comments, scope: 'spree')) %>
  </div>
<% end %>

<div class="col-12 order-add-comment">
  <%= form_for(:comment, url: admin_comments_url) do |f| %>
    <%= hidden_field_tag 'comment[commentable_id]', commentable.id %>
    <%= hidden_field_tag 'comment[commentable_type]', commentable.class %>
    <%= hidden_field_tag 'comment[user_id]', spree_current_user.id %>

    <fieldset data-hook="admin_comment_form_fields" class="no-border-top fullwidth return-authorization-form-wrapper">
      <fieldset class="index no-border-bottom">
        <legend align="center"><%= I18n.t('spree.add_comment') %></legend>

        <div data-hook="comment_fields" class="row">
          <div class="field-block col-12 col-md-6 col-lg-4 col-xl-3">
            <div class="field">
              <%= f.label :comment, I18n.t('spree.comment') %>
              <%= f.text_area :comment, class: 'form-control' %>
            </div>
          </div>
        </div>
      </fieldset>

      <div class="clear"></div>

      <div class="form-buttons filter-actions actions text-right" data-hook="buttons">
        <% if @comment_types.count >= 1 && types %>
          <%= hidden_field_tag 'comment[comment_type_id]', types.first.try(:id) %>
        <% else %>
          <div class="field">
            <%= f.label :comment_type_id, I18n.t('spree.type') %>
            <%= f.select :comment_type_id, @comment_types.sort_by {|obj| obj.name}.map{|ct| [ct.name, ct.id]},{}, class: 'form-control' %>
          </div><br>
        <% end %>
        <%= f.submit I18n.t('spree.add_comment') %>
      </div>
    </fieldset>
  <% end %>
</div>