<div id="lender_logistics">
    
  <% commentable.comments.each_with_index do |comment, index| %>
    <div class="row">

      <% supplier = comment.user.supplier %>
      <% type = comment.comment_type.try(:name) || '' %>

      <div class="col-xs-2 text-center <%= type == 'Lender' ? 'pull-right' : 'pull-left' %>">
        <% if supplier.blank? || supplier.profile_picture.blank? %>
          <div style='background-image:url('');background-size:cover;background-position:center;border:3px solid #2ba28a!important;' class="supplier_image" ></div>
        <% else %>
          <%= link_to '/suppliers/'+supplier.id.to_s do %>
            <div style='background-image:url('<%= supplier.profile_picture.url(:small) %>');background-size:cover;background-position:center;' class="supplier_image" ></div>
          <% end %>
        <% end %>
        <div style="color:#2ba28a;"><%= type %></div>
      </div>

      <div class='col-xs-10 <%= type == 'Lender' ? 'pull-right' : 'pull-left' %>' style="min-width:300px;max-width:750px;">
        <div style="border:3px solid <%= type == 'Admin' ? '#555' : '#2ba28a' %>;border-radius:15px;padding:15px; <%= type == 'Lender' ? 'background:#2ba28a;color:white;' : '' %>">
          <b><%= comment.user.name %></b><br>
          <div><%= simple_format(comment.comment) %></div>
        </div>
        <div style="color:grey;margin:0 15px; <%= type == 'Borrower' ? 'text-align:right' : '' %>"><%= pretty_time(comment.created_at) %></div>
      </div>
    </div>
  <% end %>
</div>
